<ion-view class="home-view">
  <ion-nav-title>
    <span>Coach</span>
  </ion-nav-title>
  <ion-content padding="true">
<ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" style="width:100%;height:200px;">
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <ion-list>
      <ion-item class="item-divider"> Coaching Options</ion-item>
      <ion-item class="item-icon-right" ui-sref="app.chat">Coach Chat
        <i class="icon ion-chatboxes"></i>
      </ion-item>
      <ion-item class="item-icon-right">Food Log
        <i class="icon ion-fork"></i>
      </ion-item>
      <ion-item class="item-icon-right">My Training
        <i class="icon ion-ios-body-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right">Groups
        <i class="icon ion-ios-people-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right">Friends
        <i class="icon ion-android-people"></i>
      </ion-item>
    </ion-list>
 
  </ion-content>
</ion-view>
