<ion-view class="nutrition-view">
  <ion-nav-title>
    <span>Nutrition</span>
  </ion-nav-title>
    <ion-content>

  <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/uu84vbuSSCD082G2Lp4F_Nutrition Tip of The Day.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="http://workoutanywhere.net/members-1/nutrition-basics/">
        <img src="https://s3.amazonaws.com/ionic-io-static/iZRPFvtRx6T2GapIQUWf_Meal Plans.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="http://workoutanywhere.net/clean-and-lean-recipes/">
        <img src="https://s3.amazonaws.com/ionic-io-static/wd0hnqWRPyl8L0ZHJXab_Recipes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="http://workoutanywhere.net/wa-fit-tracking/">
        <img src="https://s3.amazonaws.com/ionic-io-static/u7Z0QWlATBKyrUlErbsY_Food Log.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top">
  <a class="tab-item" ui-sref="app.dashboard">
    <i class="icon ion-clock"></i>
    Workouts
  </a>
  <a class="tab-item" ui-sref="app.nutrition">
    <i class="icon ion-fork"></i>
    Nutrition
  </a>
  <a class="tab-item" ui-sref="app.community">
    <i class="icon ion-ios-chatboxes-outline"></i>
    Community
  </a>
   <a class="tab-item" ui-sref="app.coach">
    <i class="icon ion-ios-person"></i>
    Coach
  </a>
</div>
</ion-view>
